.navbar{
    width: 100%;
    border: 1px solid red;
    &__block{
        width: 100%;
        height: 55px;
        @include df();
        gap: 59px;
    }
    &__logo{
        width: calc(25% - 44.25px);
        height: 55px;
        @include df(start, center);
        border: 1px solid red;
    }
    &__collection{
        width: calc(25% - 44.25px);
        @include df();
    }
}
